* {
    box-sizing: border-box;
}
.navbar-list {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style-type: none;
    padding: 30px;
    margin: 0;
    border-bottom: 1px solid black;
}

.nav {
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

ul {
    list-style-type: none;
}

html,body{
    margin: 0;
    padding: 0;
}
.container{
    background-image:url("bg-1.jpg");
    width:100vw;
    height:100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-box{
    min-width: 400px;
    width:80%;
    max-width: 600px;
    height:300px;
    margin:auto;    
    background-color: hsla(36, 49%, 33%, 0.5);
    border-radius:10px;
    padding: 10px 30px;
}

.hero-title{
    color: rgb(255, 247, 0);
    text-align: center;
    margin:0;
    margin-bottom: 20px;
    font-size: 2rem;
}
.hero-text{
    color: white;
    text-align: center;
    margin:0;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.buttons{
    background-color: hsla(36, 98%, 50%,0.3);
    border: 1px solid rgb(251, 68, 1);
    outline:none;
    cursor:pointer;
    color:white;
    padding:15px;
    width:40%;
    font-size:1.5rem;
}

.buttons a{
    text-decoration: none;
    color:white;
}

.buttons:hover{
    background-color: hsla(36, 98%, 50%,0.5) ;
}

.buttons:focus{
    background-color: hsla(36, 98%, 50%,0.8) ;
}

.container1{
    background-image:url("bg-2.jpg");
    width:100vw;
    height:100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    color: white;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}
.hero-box1{
    min-width: 400px;
    width:80%;
    max-width: 600px;
    height:400px;
    margin:auto;    
    background-color: hsla(36, 49%, 33%, 0.5);
    border-radius:10px;
    padding: 10px 30px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}

.footer{
    background-color: orange;
    text-align: center;
    padding:10px;
    width: 100%;
  }