*{
    margin:0;
    box-sizing: border-box;
  }
@media (max-width: 75em) {
    html {
      font-size: 100%;
    }
  }
  .navbar-list{
    display:flex;
    justify-content: flex-end;
    gap:20px;
    list-style-type:none;
    padding:30px;
    margin:0;
    border-bottom: 1px solid black;
    
  }
  .nav{
    background-color:orange;
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 1000; 
  }
  
ul{
    list-style-type: none;
}
body{
  background-color: burlywood;
  margin:0;
  padding-top:100px;
}
.about-content{
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 20px;
    border-radius: 10px; 
    width: fit-content; 
    margin: 20px auto; 
    text-align: center; 
}
