*{
    margin:0;
    box-sizing: border-box;
  }
@media (max-width: 75em) {
    html {
      font-size: 100%;
    }
  }
  .navbar-list{
    display:flex;
    justify-content: flex-end;
    gap:20px;
    list-style-type:none;
    padding:30px;
    margin:0;
    border-bottom: 1px solid black;
    
  }
  .nav{
    background-color:orange;
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 1000; 
  }
  
ul{
    list-style-type: none;
}